.featured {
  height: 100vh;
  position: relative;

  @media only screen and (max-width: 700px) {
    display: none;
  }

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  .movieVideo {
    position: absolute;
    width: 100%;
    border: none;
    height: 92%;
    scale: 1.3;
    filter: brightness(60%);
  }

  .movieImage {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background: linear-gradient(
        to bottom,
        rgba(11, 11, 11, 0) 0%,
        rgba(11, 11, 11, 1) 100%
      ),
      url("../../images/vikings.webp");
    background-size: cover;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 300px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 600px;
      display: flex;
      align-items: flex-start;
    }

    .description {
      font-size: 22px;
      margin: 20px 0;
      line-height: 30px;
    }

    .buttons {
      display: flex;
      align-items: center;
      .play {
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        margin-right: 15px;
        cursor: pointer;
        background-color: white;
        color: var(--main-color);
        text-decoration: none;
        .icon {
          scale: 2;
          margin-right: 10px;
        }
        span {
          margin-left: 5px;
        }
      }

      .more {
        background-color: rgba(189, 195, 199, 0.3);
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        margin-right: 15px;
        cursor: pointer;
        text-decoration: none;

        .icon {
          scale: 1.5;
          margin-right: 10px;
        }
        span {
          margin-left: 5px;
        }
      }
    }
  }
}
